!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Goat Task!!!
    script(src='js/lib/angular/angular.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')

    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body