<div data-ng-controller='LoginCtrl'>
	<h2>Sign in!</h2>
		<form>
      <div>
  			<input data-ng-model='user.username' id='username' type="text" placeholder='Please enter username' name='username'><br/>
      </div>
      <div>
  			<input data-ng-model='user.password', type="text" placeholder='Please enter password' name='password'><br/>
			</div>
      <a class='btn btn-success', data-ng-click='loginUser(user)'> Login!</a>
		</form>
</div>
<a ng-href="/login/newRegister" class='btn btn-success'>Sign up!</a>
