<h2>Register</h2>
<div ng-controller='LoginCtrl'>
  <form novalidate class='simple-form'>
    <div>
    Name: <input data-ng-model='user.username' type="text" name="username">
    </div>
    <div>
    Email: <input data-ng-model='user.email' type="text" name='email'>
    </div>
    <div>
    Password: <input data-ng-model='user.password' type="text" name='password'> 
    </div>
    <div>
      <input data-ng-model='user.bleet' type="hidden" name='bleet'>
      <button ng-click="register(user)">Save that user!</button>
    </div>
  </form>
</div>